			<footer class="container-fluid"  style="margin-top:10rem;">
            <hr class="">

			<section class="d-flex justify-content-center">
				<div
					class="text-center text-md-start mt-5">
					<div class="row mt-3"> 
					
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">



							<h5 class="text-uppercase fw-bold mb-4">
								<i class="fas fa-gem me-3"></i>El Restorante ! de la maniana con la coche di primaro ola
							</h5>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio corrupti neque error molestias impedit sint quia vel tempore! Hic, eos.
							</p>
						</div>



						<div
							class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h5 class="text-uppercase fw-bold mb-4">Contact</h5>
							<p>
								<i class="fas fa-home me-3"></i>
								Chez la daronne encore ... on attends le mariage</p>
							<p>
								<i class="fas fa-envelope me-3"></i>
								j'donne mon mail si t'as des sous
							</p>
							<p>
								<i class="fas fa-phone me-3"></i>
								+ 07 92 23 12 87</p>

						</div>

					</div>

				</div>
			</section>

			<div class="text-center container-fluid col-md-12 col-lg-12 p-4" style="background-color: rgba(0, 0, 0, 0.05);">
				© 2022 Copyright:
				<a class="text-reset fw-bold" href="">MonPortfolio.fr</a>
			</div>

		</footer>