{% extends "base.html.twig" %}






{% block body %}


<h1>zeter</h1>

<p>Ouai Ouai clique ici pour voir ? CLIQUE JAI DIT ! <a href="{{ absolute_url(path('verify_user', {token: token}))}}">t'inquiète pas ai confiance :D</a></p>



{% endblock %}